/* Centraliza o conteúdo na página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilização do container do formulário */
.form-container {
    background-color: #fff;
    border: 2px solid #003f7f; /* Adiciona a borda azul escura */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Logotipo */
.form-container img.logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

/* Título */
.form-container h1 {
    margin-bottom: 20px;
    color: #003f7f; /* Alinha a cor com a borda */
}

/* Rótulos dos campos */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

/* Estilização dos campos de seleção e do botão */
select, button, input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botão */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 450px;
}